body {
    background-color: rgb(11, 159, 204);
}
.bgbody {
    margin-left: 275px;
    width: 800px;
    height: auto;
}
img {  
    width: 600px;
    height:  350px;
}
.tribute-img {
    width: auto;  
    text-align: center;  
}
.tribute-title {
    text-align: center;
    text-shadow: 25px 10px 30px lightblue;
    font-weight: bolder;
    font-size:xx-large ;
}
strong {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
.about{
    background-color: rgb(5, 116, 150) ;
    box-shadow: 25px 10px 30px lightblue;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 100px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    padding-bottom: 20px;
}
.footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding-left: 40px;
}